# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
.pytest_cache/
*.egg-info/
.coverage
htmlcov/
dist/
build/
*.spec

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
